<h1>Twist</h1>

{% if user.id == None %}
    You're not logged in. Please <a href="/user/login">login</a>.
{% else %}
    Welcome {{ user | title }}!

    <br><br>

    {% if recent_domains %}
        Here are the domains you've recently spun:
        <ul>
        {% for domain in recent_domains %}
            <li><a href="{% url 'twister:domain' domain.id %}">{{ domain }}</a> <i>(last spun on {{ domain.date_spun }})</i></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You haven't spun any domains yet. Get started by <a href="{% url 'twister:twist' %}">twisting a domain</a>.</p>
    {% endif %}

    <br><br>

    <a href="{% url 'twister:twist' %}">Twist a Domain</a>
    <br><br><br>
    <a href="{% url 'register:logout' %}">Logout</a>
{% endif %}
